@import "../styles/global.css";
@import "./styles/tokens.css";
@import "./styles/app.css";
@import "./styles/ranking.css";
@import "./styles/profile.css";

@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/audio/fonts/OpenDyslexic-Regular.woff2")
    format("woff2");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.accessibility-dyslexia {
  font-family:
    "OpenDyslexic",
    Arial,
    sans-serif !important;
}

.accessibility-dyslexia * {
  font-family:
    "OpenDyslexic",
    Arial,
    sans-serif !important;
}